text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 12px;
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 5px;
  stroke: steelblue;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}

.match-non-goal-path rect {
  stroke: orange;
}

.match-goal-path rect {
  fill: orange;
  stroke: orange;
}

.predict-goal-path rect {
  fill: steelblue;
}

