.node circle {
   fill: #fff;
   stroke: steelblue;
   stroke-width: 3px;
 }

 .node text { font: 12px sans-serif; }

 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 2px;
 }

circle.match {
    stroke: orange;
}

circle.match[data-goal-path="true"] {
    fill: orange;
}

circle.predict[data-goal-path="true"] {
    fill: steelblue;
}